<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.ramian_pj.mapper.AdminMapper">

    <select id="getAdmins" resultType="org.example.ramian_pj.dto.AdminMemberTestDTO">
        SELECT
            department,
            sub_department,
            name,
            userid,
            email,
            phone,
            position
        FROM member
        WHERE deleted_at IS NULL
    </select>


</mapper>
