<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.ramian_pj.mapper.ClientMapper">
    <select id="findUserById" parameterType="String" resultType="org.example.ramian_pj.dto.UserDTO">
        SELECT
            id,
            userid,
            username,
            pw,
            phone_number,
            phone_verified,
            email,
            zipcode,
            street_address,
            detail_address
        FROM client_member
        WHERE
            userid = #{mid};
    </select>

<!--    <resultMap id="userMap" type="org.example.ramian_pj.dto.UserDTO">-->
<!--        <id property="id" column="id"/>-->
<!--        <id property="userid" column="userid"/>-->
<!--        <result property="username" column="username"/>-->
<!--        <result property="pw" column="pw"/>-->
<!--        <result property="phone_number" column="phone_number"/>-->
<!--        <result property="email" column="email"/>-->
<!--        <result property="zipcode" column="zipcode"/>-->
<!--        <result property="street_address" column="street_address"/>-->
<!--        <result property="detail_address" column="detail_address"/>-->
<!--    </resultMap>-->

</mapper>
