<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.ramian_pj.mapper.ClientMapper">

    <resultMap id="userJoinResultMap" type="org.example.ramian_pj.dto.UserJoinDTO">
        <result property="mid" column="userid"/>
        <result property="mname" column="username"/>
        <result property="mpw" column="pw"/>
        <result property="mtel" column="phone_number"/>
        <result property="memail" column="email"/>
        <result property="mzipcode" column="zipcode"/>
        <result property="mstreetaddr" column="street_address"/>
        <result property="mdetailaddr" column="detail_address"/>
        <result property="agreeEmail" column="agree_email"/>
        <result property="agreeTel" column="agree_tel"/>
        <result property="agreePost" column="agree_post"/>
        <result property="agreeSms" column="agree_sms"/>
    </resultMap>

    <select id="findUserById" parameterType="String" resultMap="userJoinResultMap">
        SELECT
            id,
            userid,
            username,
            pw,
            phone_number,
            phone_verified,
            email,
            zipcode,
            street_address,
            detail_address
        FROM client_member
        WHERE
            userid = #{mid};
    </select>

<!--    모든 회원 조회 -->
    <select id="getAllUsers" resultMap="userJoinResultMap">
        SELECT
            id,
            userid,
            username,
            pw,
            phone_number,
            phone_verified,
            email,
            zipcode,
            street_address,
            detail_address,
            agree_email,
            agree_tel,
            agree_post,
            agree_sms
        FROM client_member;
    </select>


<!--    User 회원가입 PART-->
    <insert id="joinUser" parameterType="org.example.ramian_pj.dto.UserJoinDTO">
        INSERT INTO client_member
        (username, userid, pw, phone_number, phone_verified, email, zipcode, street_address, detail_address,
         agree_email, agree_tel, agree_post, agree_sms)
        VALUES
            (#{mname}, #{mid}, #{mpw}, #{mtel}, #{phoneVerified}, #{memail}, #{mzipcode}, #{mstreetaddr}, #{mdetailaddr},
             #{agreeEmail}, #{agreeTel}, #{agreePost}, #{agreeSms})
    </insert>



</mapper>
