<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.ramian_pj.mapper.ReserveMapper">

    <select id="countReserveByMemberId" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM reserve
        WHERE member_id = #{memberId}
          AND status = 'ACTIVE'
    </select>


<!--    <insert id="saveReserve" parameterType="org.example.ramian_pj.dto.ReserveDTO" >-->
<!--        INSERT INTO reserve (-->
<!--            member_id,-->
<!--            reserve_date,-->
<!--            reserve_time,-->
<!--            rcount,-->
<!--            created_at,-->
<!--            updated_at-->
<!--        ) VALUES (-->
<!--                     #{memberId},-->
<!--                     #{rdate},-->
<!--                     #{rtime},-->
<!--                     #{rcount},-->
<!--                     NOW(),-->
<!--                     NOW()-->
<!--                 )-->
<!--    </insert>-->


    <insert id="saveReserve" parameterType="org.example.ramian_pj.dto.ReserveDTO" >
        INSERT INTO reserve (
            member_id,
            reserve_date,
            reserve_time,
            rcount,
            created_at,
            updated_at
        )
        SELECT #{memberId},
               #{rdate},
               #{rtime},
               #{rcount},
               'ACTIVE',
               NOW(),
               NOW()
        WHERE
        TIMESTAMP(#{rdate}, #{rtime}) >= NOW();
    </insert>







    <select id="getReserveByMemberId" resultType="org.example.ramian_pj.dto.ReserveDTO">
        SELECT
            member_id,
            reserve_date AS rdate,
            reserve_time AS rtime,
            rcount,
            modify_count
        FROM reserve
        WHERE
            member_id=#{memberId}
        AND
            status = 'ACTIVE'
        ORDER BY reserve_date DESC
        LIMIT 1;
    </select>

</mapper>
